<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucasdwn - Noticias</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper white">
            <a href="#" class="brand-logo black-text ">LUCASDWN-Noticias</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <div class="teste">
                    <li><a href="">Seja um assinante premium!!</a></li>
                </div>
            </ul>
            </div>
        </nav>  
    </header>
    <main>
        <div class="superior">
            <div class="petroleo">
                <img src="../static/Icons/petroleo.png" alt="">
                <h2>04/04/2022</h2>
                <h1>Preços do petroleo sobem.</h1>
            </div>
            <div class="futebol">
                <img src="../static/Icons/bola.png" alt="">
                <h2>03/04/2022</h2>
                <h1>São Paulo sofre virada em final.</h1>
            </div>
            <div class="telegram">
                <img src="../static/Icons/telegram.png" alt="">
                <h2>02/04/2022</h2>
                <h1>Justiça suspende telegram por fakenews.</h1>
            </div>
        </div>
        <div class="inferior">
            <div class="missil">
                <img src="../static/Icons/missil.png" alt="">
                <h2>01/04/2022</h2>
                <h1>Rússia lança missil em Kiev.</h1>
            </div>
            <div class="cursos">
                <img src="../static/Icons/curso.png" alt="">
                <h2>31/03/2022</h2>
                <h1>Fatec libera mais de 10 cursos gratuítos.</h1>
            </div>
            <div class="prqtecnologico">
                <img src="../static/Icons/prqtecnologico.png" alt="">
                <h2>17/03/2022</h2>
                <h1>Fatec realiza visita ao parque tecnologico</h1>
            </div>
        </div>
    </main>
</body>
</html>